* {
    margin: 0;
    padding: 0;
}
.content {
    display: flex;
    height: 100vh;
}
.menu {
    width: 250px;
    background-color: rgb(65, 78, 78);
}
.content.users {
    flex: 1;
    background-color: rgb(223, 223, 223);
}
.header {
    height: 60px;
    width: 100%;
    display: flex;
}
.header.menu {
    width: 250px;
    height: 60px;
    background-color: rgb(52, 196, 129);
}
.header.menu h1 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-users {
    height: 60px;
    flex: 1;
    background-color: rgb(63, 223, 148);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-menu, .icon-user{
    cursor: pointer;
}
.icon-menu {
    margin-left: 10px;
}
.icon-user {
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.icon-user img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}