* {
    margin: 0;
    padding: 0;
}
h1, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content {
    display: flex;
    height: 100vh;
}
.menu {
    width: 250px;
    background-color: rgb(65, 78, 78);
}
.content.users {
    flex: 1;
    background-color: rgb(223, 223, 223);
}
.header {
    height: 60px;
    width: 100%;
    display: flex;
}
.header.menu {
    width: 250px;
    height: 60px;
    background-color: rgb(52, 196, 129);
}
.header.menu h1 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-users {
    height: 60px;
    flex: 1;
    background-color: rgb(63, 223, 148);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-menu, .icon-user{
    cursor: pointer;
}
.icon-menu {
    margin-left: 10px;
}
.icon-user {
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.icon-user img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.menu .icon-user {
    height: 80px;
    margin-left: 10px;
}
.text-user {
    display: flex;
    flex-direction: column;
}
.text-online p {
    font-size: 0.8rem;
}
.title-menu {
    background-color: rgb(40, 48, 48);
    font-size: 0.5rem;
    text-transform: uppercase;
}
.title-menu h1 {
    padding: 10px;
}
.text-menu p {
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-menu span {
    margin: 10px;
}
.text-menu-users {
    border-left: 5px solid rgb(39, 189, 89);
}