* {
    margin: 0;
    padding: 0;
}
h1, p, a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
}
body {
    background-color: rgb(241, 241, 241);
}
.content {
    display: flex;
}
.menu {
    width: 250px;
    background-color: rgb(65, 78, 78);
}
.content.users {
    flex: 1;
}
.header {
    height: 60px;
    width: 100%;
}
.header-users {
    height: 60px;
    background-color: rgb(63, 223, 148);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-menu, .icon-user{
    cursor: pointer;
}
.icon-menu {
    margin-left: 10px;
}
.icon-user {
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.icon-user img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.icon-user-menu{
    display: flex;
    align-items: center;
    height: 80px;
    margin: 10px;
}
.icon-user-menu img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 15px;
}
.text-user {
    display: flex;
    flex-direction: column;
}
.text-user p {
    padding: 4px;
}
.title-menu {
    background-color: rgb(40, 48, 48);
    font-size: 0.5rem;
    text-transform: uppercase;
}
.title-menu h1 {
    padding: 10px;
}
.text-menu p {
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-menu span {
    margin: 10px;
}
.text-menu-users {
    border-left: 5px solid rgb(39, 189, 89);
}
section {
    width: 95%;
    margin: 10px auto;
}
.content-header {
    display: flex;
    justify-content: space-between;
}
.title-content-header h1 small {
    margin-left: 15px;
    color: rgb(89, 92, 95);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}
.breadcrumb {
    margin-top: 5px;
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 0.8rem;
}
.breadcrumb li {
    padding: 5px;
}
.breadcrumb li.active {
    color: rgb(89, 92, 95);
}
.content-container {
    display: flex;
    margin-top: 20px;
}
.table {
    flex: 2;
    background-color: rgb(255,255,255);
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(209, 209, 209);
    font-family: 'Open Sans Condensed', sans-serif;
}
.table caption {
    font-size: 1.3rem;
    text-align: left;
    background-color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 2px solid rgb(209, 209, 209);
}
.aside-right {
    flex: 1;
    margin-left: 20px;
}
.info {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.info li {
    width: 50%;
    height: 90px;
    border: none;
    cursor: default;
    border-radius: 6px;
}
#new-users {
    background-color: rgb(50, 50, 177);
    margin-right: 5px;
}
#new-users:hover {
    background-color: rgb(72, 72, 197);
}
#n-admins {
    background-color: rgb(230, 113, 18);
}
#n-admins:hover {
    background-color: rgb(241, 129, 36);
}
#new-users, #n-admins {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
}
#n-new-users, #n-new-admins{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
}
.register {
    background-color: rgb(255,255,255);
    margin-top: 20px;
    border-top: 3px solid rgb(72, 72, 197);
    border-radius: 3px 3px 0 0;
}
.register label {
    font-size: 0.9rem;
    color: rgb(49, 56, 61);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}
.form-group, .checkbox {
    display: flex;
    flex-direction: column;
    margin: 30px 15px 30px 15px;
}
.form-group input, .form-group select, .form-group radio, #btn-submit{
    padding: 10px;
    outline: none;
    border: 1px solid rgb(174, 182, 190);
    border-radius: 4px;
}
#inputPhoto {
    border: none;
}
#btn-submit {
    padding: 10px;
    background-color: rgb(50, 50, 177);
    border: 1px solid rgb(13, 24, 36);
    width: 100px;
}
#btn-submit:hover {
    background-color: rgb(92, 92, 204);
    cursor: pointer;
}
.register h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px;
    color: royalblue;
    font-weight: 800;
}
/*====table users=====*/
.img-circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
#table-users {
    text-align: center;
}
#table-users tr td {
    border: 1px solid rgb(50, 50, 177);
    padding: 10px;
}
.btn {
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 3px;
    color: white;
    cursor: pointer;
}
.btn-primary {
    background-color: rgb(92, 92, 204);
}
.btn-danger {
    background-color: red;
}
/*====================*/