* {
    margin: 0;
    padding: 0;
}
p, a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
}
body, .profile{
    background-color: rgb(241, 241, 241);
}
.menu {
    position: fixed;
    left: -80vh;
    top: 0;
    height: 100vh;
    z-index: 2;
    transition: 200ms left linear;
}
.icon-users {
    display: flex;
    margin: 30px 10px 0 10px;
}
.icon-users a {
    margin-left: 10px;
}
.open {
    left: 0;
}
.backdrop.open {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 400ms;
}
header {
    height: 60px;
    width: 100%;
    height: 60px;
    background-color: rgb(63, 223, 148);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header i {
    margin-left: 10px;
    cursor: pointer;
}
header a {
    display: flex;
    font-weight: 700;
    margin-right: 10px;
}
header a span {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url('/img/arrow-left.svg');
}
.content {
    display: flex;
}
.title {
    margin: 10px 10px 5px 10px; 
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#breadcrumb {
    display: flex;
    align-items: center;
}
#breadcrumb p {
    padding: 5px;
}
.profile {
    flex: 1;
}
.content-timeline {
    flex: 2;
}
#description, #description p {
    margin: 20px;
}
#description p {
    text-align: justify;
}
.about, .content-timeline {
    border-top: 5px solid rgb(128, 180, 240);
}
.contentProfile, .about, .content-timeline  {
    background-color: white;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid rgb(212, 212, 212);
    border-top: 3px solid rgb(63, 223, 148);
}
.contentProfile .listProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.contentProfile .listProfile .profileImg {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 20px;
}
.contentProfile .listProfile #nameSettings {
    text-align: center;
}
.contentProfile .listProfile li a {
    padding: 10px;
}
.contentProfile .listInfo {
    list-style: none;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
}
.contentProfile .listInfo li {
    padding: 20px;
}
.listInfo div {
    display: flex;
    justify-content: space-between;
}
.listInfo li {
    font-family: 'Abel', sans-serif;
    font-size: 0.9rem;
}
.about h1 {
    font-family: 'Fondamento', cursive;
}
.about {
    margin-top: 30px;
}
.about h1 {
    margin: 20px 10px 10px 10px;
    color: rgb(42, 156, 90);
    border-bottom: 1px solid lightslategrey;
}
.aboutMe {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}
.aboutMe li {
    padding: 10px;
    margin-bottom: 15px;
}
.aboutMe li h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
}
.timeline {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 6px 6px 0 0;
}
.timeline li {
    padding: 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    font-weight: 800;
}
.timeline li:hover {
    color: rgb(250, 250, 250);
    background-color: rgb(55, 207, 118);
    border-radius: 7px;
}
/*========================*/
.pub {
    width: 100%;
    display: block;
    margin-top: 10px;
}
.pub h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2rem;
    color: royalblue;
    font-weight: 600;
    margin: 20px;
}
/*===activity====*/
.activity-pub {
    display: block;
}
#activity-users {
    border: 1px solid rgb(207, 207, 207);
    margin-bottom: 20px;
    border-radius: 10px;    
}
.activity-pub input {
    width: 85%;
    padding: 10px;
    margin: 0 10px 10px 10px;
    outline: none;
    border: none;
}
#profile-head {
    display: flex;
    align-items: center;
    margin: 0 10px 10px 10px;
    border-bottom: 1px solid rgb(187, 187, 187);
}
.img-circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid lightslategray;
    margin: 10px;
}
#profile-head img, #profile-head p, #icons-activity i {
    cursor: pointer;
}
.activity-pub p {
    text-align: justify;
    margin: 15px;
    line-height: 28px;
}
#icons-activity {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
#icons-activity i {
    padding: 5;
}
/*===timeline====*/
.timeline-pub {
    margin-left: 5px;
    display: none;
}
.registerNews {
    text-align: center;
    color: rgb(56, 56, 212);
    font-weight: 600;
    margin-bottom: 30px;
}
.email, .request, .comment {
    margin: 20px;
    background-color: rgb(235, 235, 235);
    border: 1px solid lightsteelblue;
}
#email-text {
    text-align: justify;
    margin: 20px;
}
.email-head {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid lightslategrey;
}
#btn-readMore, #btn-deleteEmail {
    padding: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}
#btn-readMore:hover, #btn-deleteEmail:hover {
    background-color: rgb(184, 184, 184);
    color: rgb(37, 37, 37);
    border: 1px solid black;
}
.buttons {
    margin: 20px;
}
#btn-readMore {
    background-color: rgb(56, 56, 212);
    border: 1px solid rgb(56, 56, 212);
}
#btn-deleteEmail {
    background-color: rgb(185, 25, 25);
    border: 1px solid rgb(185, 25, 25);
}
.request {
    display: flex;
    align-items: center;
}
.request img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 20px;
    border: 2px solid gray;
}
/*===settings====*/
#btn-register {
    background-color: rgb(63, 223, 148);
    border: 1px solid rgb(63, 223, 148);
    font-size: 0.9rem;
    padding: 10px;
    margin: 30px;
    display: block;
    border-radius: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}
#btn-register:active {
    background-color: rgb(71, 245, 164);
}
.settings-pub {
    display: none;
}
.settings-pub form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
}
.settings-pub form input[type=checkbox] {
    margin-left: 20px;
}
.settings-pub .form-group {
    margin: 20px;
}
.settings-pub .form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(170, 170, 170);
    outline: none;
    border-radius: 3px;
}
.settings-pub .form-group input:hover, .settings-pub .form-group input:focus {
    border: 1px solid rgb(44, 170, 97);
}
#btn-updateAboutMe, .btn-cancel, .btn-delete {
    padding: 10px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
#btn-updateAboutMe {
    border: 1px solid rgb(36, 121, 85);
    background-color: rgb(63, 223, 148);
    width: 70%;
}
#btn-updateAboutMe:hover {
    background-color: rgb(111, 233, 176);
}
#buttonsUpdate {
    display: flex;
    width: 100%;
    margin-top: 10px;
}
.buttonsUpdate {
    margin-left: 40px;
}
.btn-cancel, .btn-delete {
    flex: 1;
}
.btn-cancel {
    border: 1px solid rgb(189, 189, 189);
    background-color: rgb(141, 141, 141);
    margin-right: 5px;
}
.btn-cancel:hover {
    background-color: rgb(212, 212, 212);
}
.btn-delete {
    border: 1px solid rgb(195, 0, 0);
    background-color: red;
}
.btn-delete:hover {
    background-color: rgb(255, 31, 31);
}
#comment-content {
    margin: 20px;
} 
#comment-head {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}
.comment button {
    margin: 0 20px 20px 20px;
    padding: 10px;
    border: 1px solid rgb(209, 149, 93);
    background-color: rgb(212, 209, 24);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
/*====================================*/
#editedProfileConfig {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.9325);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 400ms;
}
#editedProfileConfig h1 {
    color: white;
}
.renderComments {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}
.renderComments li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
}
.renderComments li p {
    margin: 0;
    margin-left: 10px;
}
.renderComments li i {
    margin-right: 5px;
    cursor: pointer;
    padding: 3px;
}
.renderComments .icons-comments {
    display: flex;
    align-items: center;
}
.renderComments li i:hover {
    
}
.selected {
    color: rgb(55, 207, 118);
}