@media screen and (max-width:800px) {
    .menu {
        display: none;
    }
    .header {
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .header.menu {
        width: 100%;
        height: 40px;
    }
    .header-users {
        flex: 1;
    }
    .icon-user p {
        display: none;
    }
}